{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/carrousel.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="container_img">
        <div id="carrousel">
            <div id="panneau">
            </div>
        </div>
    </div>
{% endblock %}

{# js pour Carrousel #}
{% block javascript %}
    <script src="assets/js/carrousel.js"></script>   
{% endblock %}