* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lora";
}

a {
    text-decoration: none;
    color: white;
}

.header-footer {
    height: 13vh;
    background-color: rgb(12, 12, 89);
    color: white;
}