* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lora";
}

body {
    background-color: rgb(26, 26, 36);
}

label, h2, h3, h4, legend {
    color: grey;
}

.card {
    background-color: grey;
}

a {
    text-decoration: none;
    color: white;
}

.header-footer {
    height: 13vh;
    background-color: rgb(12, 12, 89);
    color: white;
    width: 100%;
}

#footer {
    display: flex;
    justify-content: flex-end;
}

.test {
    margin: auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.profil {
    display: flex;
    justify-content: center;
}