* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lora";
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(26, 26, 36);
    margin-bottom: 13vh;
}

label, h2, h3, h4, legend {
    color: grey;
}

h2, h3, p, article {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER-FOOTER  */

#navbarCollapse {
    background-color: rgb(12, 12, 89);
}

.right {
    margin-right: 4%;
}

.header-footer {
    height: 13vh;
    background-color: rgb(12, 12, 89);
    color: white;
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13vh;
}

/* menu article  */

.card {
    background-color: grey;
}

/* page profil */

.part_profile {
    margin: auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

.profil {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Encadrement margin présentation */

.margin {
    margin: 8% 20% 0 20%;
}

/* champ form contact, utilisateur, profil */

fieldset {
    margin: auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

@media screen and (max-width: 992px) {

    fieldset {
        width: 75%;
    }
    
    .profil {
        flex-direction: column;
    }
}