#search-addon {
    cursor: pointer;
}

.pagination span {
    /* margin: 0 1%; */
    /* border: solid 1px white; */
    color: white;
    /* border-radius: 5px; */
    /* border: 1px solid #ddd; */
}

.page, current {
    padding: 0 1%;
}

.pagination a:hover:not(.active) {
    background-color: blue;
    border-radius: 2px;
    padding: 0 5px;
}

@media screen and (max-width: 992px) {
    #tag-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
    }

    #tag-wrapper select {
        margin: 0 3%;
    }

    #recherche {
        margin: 2% 0;
    }
}