{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h2 class="profil mt-5">Mon espace membre</h2>

    <h3 class="profil">{{ app.user.pseudo }} voici ton espace personnel</h3>

    <div class="w-25 my-5 test">
        <p class="profil">Partie Utilisateur</p>
        <div class="col-12 profil">
            <button class="btn btn-primary"><a href="{{ path('utilisateur_edit', {'id': app.user.id}) }}">Modifier mon compte</a></button>
        </div>
    </div>
    <div class="m-5">
        <button class="btn btn-primary"><a href="{{ path('logout') }}">Déconnexion</a></button>
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>

{% endblock %}
