{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1>Mon espace membre</h1>

    <h2>{{ app.user.pseudo }} voici ton espace personnel</h2>

    <div>
        <button class="btn btn-primary"><a href="{{ path('utilisateur_edit', {'id': app.user.id}) }}">Modifier mon compte</a></button>
    </div>
    <div>
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>

{% endblock %}
