{# Solution temporaire : z-index -1 #}
<div class="header-footer fixed-bottom z-n1">
    <div class="container-fluid d-flex flex-row pt-4">
        <p class="col-lg-10 col-7"><a href="#">Nous contacter</a></p>
        <p class="col-lg-1 col-2"><a href="#">CGU</a></p>
        <p class="col-lg-1 col-3">Copyright</p>
    </div>
</div>