{# Solution temporaire : z-index -1
{# <div class="header-footer fixed-bottom1"> #}
{# <div id="footer">
    <div class="header-footer"> 
        <div class="container-fluid d-flex flex-row pt-4">
            <p class="col-lg-10 col-7"><a href="{{ path('contact_new') }}">Nous contacter</a></p>
            <p class="col-lg-1 col-2"><a href="{{ path('cgu') }}">CGU</a></p>
            <p class="col-lg-1 col-3">Copyright</p>
        </div>
    </div>
</div>  #}